# --- COMPILACIÓN Y SALIDA ---
/target/
/build/
/dist/
/nbdist/
/nbbuild/

# --- CREDENCIALES---
.env
config.properties
db.properties
*.properties
credentials.txt

# --- IDEs (Configuraciones locales del editor) ---
# NetBeans
nbproject/private/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.project
.classpath

# --- ARCHIVOS DEL SISTEMA ---
.DS_Store
Thumbs.db
*.log
